{{!< default}}

<main id="gh-main" class="gh-main gh-canvas">
    {{#tag}}
        <section class="gh-pagehead">
            <header class="gh-pagehead-content">
                <div class="gh-tag-label">Chủ đề</div>

                <h1 class="gh-tag-name gh-pagehead-title">{{name}}</h1>

                <div class="gh-tag-description gh-pagehead-description">
                    {{#if description}}
                        {{description}}
                    {{else}}
                        Một bộ sưu tập gồm {{plural ../pagination.total empty="0 bài viết" singular="% bài viết" plural="% bài viết"}}
                    {{/if}}
                </div>
            </header>
        </section>
    {{/tag}}

    <div class="gh-feed">
        {{#foreach posts}}
            {{> loop}}
        {{/foreach}}
    </div>

    <button class="gh-loadmore gh-btn">Tải thêm bài viết</button>
</main>